section.block.block_image_text
  .block--wrapper
    .block--head
      .block--head_title
        h1 наши&nbsp;
          span контакты
      .block--head_caption
        p Нужна помощь или есть вопросы? Свяжитесь с нами сейчас - мы будем рады помочь!
      .block--actions
        a(href="/").button.button-secondary.button-link
          span СВЯЖИТЕСЬ С НАМИ

    .block--content.is_cascade
      h4 Телефоны
        ul.note
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
        h4 Email
        ul.note
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125
          li
            span Бесплатно по РФ:
            p
              a(href="tel:" ) 8 800 3333 125





