// баннер с навигацией
section.block.block_banner.block_banner-hero.block_banner-nav
  .block--wrapper
    .banner
      .block_nav-page
        .nav
          a(href='#personage') Персонажи
          a(href='#area') Площадки
          a(href='#form') Индивидуальный сценарий
          a(href='#shows') Готовые программы
          a(href='#gallery') Галерея
      .block--content
        <svg class="hero_clip_svg">
        <clipPath id="my-clip-path-2" clipPathUnits="objectBoundingBox"><path d="M1,0 V0.857 H1 C0.872,0.857,0.673,0.704,0.503,0.727 C0.47,0.732,0.389,0.753,0.389,0.843 C0.389,0.917,0.418,0.978,0.427,0.996 C0.428,0.998,0.427,1,0.426,1 C0.4,0.991,0.27,0.944,0.186,0.87 C0.106,0.8,0.039,0.73,0,0.597 V0 H1"></path></clipPath>
        </svg>
        img(src="./assets/img/banner-attractions.png")
      +block--head("","праздник мечты" ,"для вашего ребенка","Сделаем любой праздник незабываемым. Вас ждет: сказочная атмосфера парка, яркие персонажи и интересная программа!")
      .block--actions
        a(href="/").button.button-filled.button-accent.js-btn-open-form
          span Оставить заявку


// обычный баннер
section.block.block_banner.block_banner-hero
  .block--wrapper
    .banner
      .block--content
        <svg class="hero_clip_svg">
        <clipPath id="my-clip-path-2" clipPathUnits="objectBoundingBox"><path d="M1,0 V0.857 H1 C0.872,0.857,0.673,0.704,0.503,0.727 C0.47,0.732,0.389,0.753,0.389,0.843 C0.389,0.917,0.418,0.978,0.427,0.996 C0.428,0.998,0.427,1,0.426,1 C0.4,0.991,0.27,0.944,0.186,0.87 C0.106,0.8,0.039,0.73,0,0.597 V0 H1"></path></clipPath>
        </svg>
        <svg class="hero_clip_svg">
        <clipPath id="my-clip-path-2-mob" clipPathUnits="objectBoundingBox"><path d="M1,0 v0.809 c-0.13,-0.015,-0.262,-0.023,-0.386,-0.017 c-0.073,0.003,-0.253,0.02,-0.253,0.089 c0,0.053,0.055,0.098,0.079,0.115 c0.003,0.002,0,0.006,-0.005,0.005 C0.377,0.993,0.171,0.966,0,0.925 V0 H1"></path></clipPath>
        </svg>
        img(src="./assets/img/banner-attractions.png")
      +block--head("","МЕТРОПОЛИС" ,"","За фасадами города скрываются настоящие чудеса. Откройте их все!")

//Баннер на главной
section.block.block_banner.block_banner-index
  .block--wrapper
    .banner
      <svg class="hero_clip_svg">
      <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0 v0.662 c-0.034,0.057,-0.089,0.133,-0.166,0.193 c-0.123,0.096,-0.232,0.136,-0.256,0.145 c-0.001,0,-0.002,-0.002,-0.001,-0.003 C0.592,0.979,0.65,0.906,0.656,0.855 c0.007,-0.056,-0.004,-0.142,-0.13,-0.197 C0.348,0.582,0.178,0.703,0.058,0.636 c-0.026,-0.014,-0.044,-0.029,-0.058,-0.047 V0 H1"></path></clipPath>
      </svg>
      <svg class="hero_clip_svg">
      <clipPath id="my-clip-path-s" clipPathUnits="objectBoundingBox"><path d="M1,0 V0.908 C0.771,0.966,0.579,0.992,0.519,1 C0.519,1,0.518,1,0.518,1 C0.513,1,0.511,0.998,0.514,0.996 C0.557,0.977,0.678,0.92,0.691,0.879 C0.707,0.832,0.682,0.76,0.388,0.715 C0.256,0.694,0.126,0.69,0,0.693 V0 H1"></path></clipPath>
      </svg>
      .block--content
        img(src="./assets/img/banner.png")
      .block--head
        .block--head_title
          h1.f-h1
            //include ../img/svg/banner-group.svg
        .block--actions
          a(href="/").button.button-filled.button-accent
            span Купить билет



// баннер с видео
section.block.block_banner.block_banner-hero.block_banner-index
  .block--wrapper
    .banner
      <svg class="hero_clip_svg">
      <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0 v0.662 c-0.034,0.057,-0.089,0.133,-0.166,0.193 c-0.123,0.096,-0.232,0.136,-0.256,0.145 c-0.001,0,-0.002,-0.002,-0.001,-0.003 C0.592,0.979,0.65,0.906,0.656,0.855 c0.007,-0.056,-0.004,-0.142,-0.13,-0.197 C0.348,0.582,0.178,0.703,0.058,0.636 c-0.026,-0.014,-0.044,-0.029,-0.058,-0.047 V0 H1"></path></clipPath>
      </svg>
      <svg class="hero_clip_svg">
      <clipPath id="my-clip-path-s" clipPathUnits="objectBoundingBox"><path d="M0,0.162 C0.118,0.206,0.128,0.277,0.122,0.323 C0.117,0.363,0.068,0.419,0.051,0.437 C0.049,0.439,0.051,0.441,0.053,0.441 C0.081,0.432,0.179,0.399,0.289,0.323 C0.42,0.233,0.483,0.1,0.483,0.1 L0.472,-0.559 H-0.517 C-0.517,-0.559,-0.479,-0.243,-0.505,-0.074 C-0.516,0,-0.512,0.107,-0.438,0.143 C-0.326,0.198,-0.166,0.099,0,0.162"></path></clipPath>
      </svg>
      .block--content
        video(src="./assets/video/@lepragram.mp4" autoplay loop)
      .block--head
        .block--head_title
          h1.f-h1
            //include ../img/svg/banner-group.svg
        .block--actions
          a(href="/").button.button-filled.button-accent
            span Купить билет
