extends ../../layouts/main

block variables
  - var title = "Заготовки"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.block.block_html_code.content_advantages
    .block--wrapper
      +block--head('','что вас ждет','','')
      .block--content
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-1.svg" alt="")
          .advantages-text Анимационная программа для детей
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-2.svg" alt="")
          .advantages-text Интерактивная программа для взрослых
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-3.svg" alt="")
          .advantages-text Тематические мастер-классы
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-4.svg" alt="")
          .advantages-text Танцевально-акробатические номера от артистов оригинального жанра
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-5.svg" alt="")
          .advantages-text Тесла-шоу

  // Билеты
  section.block.block_html_code.content_ticket
    .block--wrapper
      +block--head('','Купить билет', '','')
      .block--image
        picture
          source(srcset="./assets/img/svg/tickets-bck-s.svg" media="(max-width: 860px)")
          img(src="./assets/img/svg/tickets-bck.svg" alt="")
      .block--content
        .block--title
          include ../../img/svg/tickets-title.svg
          .block--subtitle Вы можете посмотреть расписание активностей или приобрести билеты онлайн со скидкой и без очереди.
        .block--actions
          a(href='programm.html').button.button-filled.button-secondary.button-reversed
            span  Расписание активностей
          a(href='/').button.button-filled.button-secondary
            span  Купить билет

  section.block.block_html_code.content_feedback
    .block--wrapper
      .block--image
        picture
          source(srcset="./assets/img/svg/feedback-bck-s.svg" media="(max-width: 768px)")
          img(src="./assets/img/svg/feedback-bck.svg" alt="")

      .block--content
        +block--head('','хотите организовать праздник','или остались вопросы?','Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время!')
        .block--actions
          a(href='/').button.button-filled.button-secondary.js-btn-open-form
            span  Заказать звонок
          a(href='/').button.button-filled.button-secondary.button-reversed.js-btn-open-form
            span  Оставить заявку
