//extends ../../layouts/main
//
//block variables
//  - var title = "Списки"
//  - var pageClass = ''
//  - var activePage = 'index'
//
//block content
//  <!-- Вариации контента внутри блока -->
//  section.block.block_list.content_offers
//    .block--wrapper
//      +block--head("вариация блока","Список в виде грида","Блок список с максимально возможным наполнением")
//      .block--actions
//        a.button.button-filled.button-accent(href="/" target="_blank")
//          span Заказать
//        a.button.button-outlined.button-accent(href="/" target="_blank")
//          span Смотреть еще
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//        a(href="/") раздел 4
//        a(href="/") раздел
//        a(href="/") раздел
//        a(href="/") раздел
//      .block--elements
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( '','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        .block--pagination
//          a.button.button-outlined.button-primary(href="/" target="_blank")
//            span Показать больше
//  section.block.block_list.content_offers.block_list-slider
//    .block--wrapper
//      +block--head("вариация блока","Список в виде слайдера","Блок список с максимально возможным наполнением")
//      .block--actions
//        a.button.button-filled.button-accent(href="/" target="_blank")
//          span Заказать
//        a.button.button-outlined.button-accent(href="/" target="_blank")
//          span Смотреть еще
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//        a(href="/") раздел 4
//        a(href="/") раздел
//        a(href="/") раздел
//        a(href="/") раздел
//      .block--elements
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( '','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//
//
//  <!-- Контент -->
//  <!-- Карточки Акции -->
//  section.block.block_list.content_offers
//    .block--wrapper
//      +block--head("подзаголовок","Акции","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//        a.button.button-filled.button-accent(href="/")
//          span Заказать
//        a.button.button-filled.button-primary(href="/")
//          span Смотреть еще
//      .block--elements
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( '','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//
//  section.block.block_list.content_offers.block_list-slider
//    .block--wrapper
//      +block--head("подзаголовок","Акции","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//        a(href="/").button.button-filled.button-secondary
//          span Смотреть еще
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//        a(href="/") раздел 4
//
//      .block--elements
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( '','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//        +card--media( 'до 24.08.2023','Акция','Скидка 50%','В течение ограниченного времени для детей младше 12 лет действует скидка 50% на путевкув санаторий "Жемчужина России" лет - идеальное место для веселого восстанавливающего отдыха.','/assets/img/1.jpg' )
//  hr
//  <!-- Карточки мероприятий -->
//  section.block.block_list.content_events
//    .block--wrapper
//      +block--head("подзаголовок","Мероприятия","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//      .block--elements
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//
//  section.block.block_list.content_events.block_list-slider
//    .block--wrapper
//      +block--head("подзаголовок","Мероприятия","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//        a(href="/").button.button-link.button-secondary
//          span Смотреть еще
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") Раздел
//        a(href="/") Раздел
//        a(href="/") Раздел
//        a(href="/") Раздел
//      .block--elements
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//        +card--media('25 марта','мероприятие','день научных экспериментов','Приглашаем всех юных ученых! Присоединяйтесь к нам на день экспериментов и открытий. Мы будем создавать слаймы, запускать ракеты и вместе исследовать мир науки.','/assets/img/1.jpg')
//  hr
//  <!-- Карточки Блога -->
//  section.block.block_list.content_blog
//    .block--wrapper
//      +block--head_title_link("","Блог","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--elements
//        +card--media('24.06.2023','статья','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','статья','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','статья','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','статья','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','статья','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//
//  section.block.block_list.content_blog.block_list-slider
//    .block--wrapper
//      +block--head("подзаголовок","Блог","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//        a(href="/").button.button-outlined.button-secondary
//          span Смотреть еще
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//        a(href="/") раздел 4
//        a(href="/") раздел 5
//      .block--elements
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//  hr
//  <!-- Карточки Отзывов -->
//  section.block.block_list.content_reviews
//    <!-- свг темплейт для звезд, привязан к контенту, можно вставить в любое место до карточки -->
//    <svg style="position: absolute" viewBox="0 0 32 32" width="0" height="0">
//    <defs>
//    <linearGradient id="active_stars" x1="0" x2="100%" y1="0" y2="0">
//    <stop offset="0%" stop-color="" ></stop>
//    <stop offset="100%" stop-color="" ></stop>
//    </linearGradient>
//    <mask id="stars-mask">
//    <use xlink:href="#star" x="0"></use>
//    <use xlink:href="#star" x="32"></use>
//    <use xlink:href="#star" x="64"></use>
//    <use xlink:href="#star" x="96"></use>
//    <use xlink:href="#star" x="128"></use>
//    </mask>
//    <symbol viewBox="0 0 18 18" id="star">
//    <path fill="#fff" stroke="none" d="M7.98261,12.5601l-4.347,2.655c-0.108,0.066,-0.234,0.098,-0.36,0.092c-0.127,-0.006,-0.249,-0.049,-0.351,-0.124c-0.102,-0.075,-0.18,-0.179,-0.223,-0.298c-0.043,-0.119,-0.05,-0.249,-0.019,-0.372l1.26,-5.018l-3.653,-2.844c-0.102,-0.079,-0.178,-0.187,-0.218,-0.31c-0.039,-0.122,-0.041,-0.254,-0.005,-0.378c0.037,-0.123,0.11,-0.233,0.21,-0.314c0.099,-0.082,0.222,-0.131,0.35,-0.142l4.781,-0.394l1.995,-4.649c0.049,-0.115,0.131,-0.214,0.236,-0.283c0.105,-0.069,0.228,-0.105,0.353,-0.105c0.126,0,0.248,0.037,0.353,0.106c0.104,0.069,0.186,0.168,0.235,0.283l1.978,4.648l4.813,0.395c0.128,0.011,0.25,0.06,0.35,0.141c0.1,0.081,0.173,0.191,0.21,0.314c0.037,0.124,0.035,0.255,-0.004,0.378c-0.039,0.123,-0.114,0.231,-0.216,0.31l-3.669,2.844l1.257,5.021c0.031,0.123,0.024,0.253,-0.018,0.372c-0.043,0.12,-0.121,0.224,-0.223,0.299c-0.102,0.075,-0.225,0.119,-0.351,0.124c-0.127,0.006,-0.253,-0.026,-0.361,-0.092l-4.363,-2.66v0.001z" />
//    </symbol>
//    </defs>
//    </svg>
//    .block--wrapper
//      +block--head("","Отзывы","")
//      .block--elements
//        +card--review("Константин К","Достойный санаторий! Ездили с женой по путевкам ФСС. Трансфер от вокзала, на вокзал автобусом санатория. Кормят очень хорошо, разнообразно и вкусно в две смены. Прекрасная выпечка. Плохо, что отдыхающие время свое не соблюдают, таскают потихонечку выпечку в пакетиках и кормят котов не смотря на запреты. Слаба логистика. В регистратуре, где расписываются процедуры выделена одна сотрудница на растерзание большой, непроходящей очереди. Бесплатных процедур не много, но все процедуры делаются профессионально. Персонал отзывчивый и не злобный. До моря не далеко. В 3-м корпусе хороший открытый подогреваемый бассеин с пресной водой. В феврале - марте прекрасно работает и очень востребован. Магазины в шаговой доступнисти. До 3-его копуса ходит санаторный автобус, впрочем, до него и прогуляться не далеко. Экскурсии дорогие, но на общественном транспорте 30 -40 мин до Ялты. Так же можно поехать в Симферополь. В принципе, все есть в санатории. Отъезд пока не коментирую")
//        +card--review("Константинопольский Константин Константинович","Ребенку очень понравилось разнообразие мероприятий и программ - мы вернемся в следующем году!")
//        +card--review("Константинопольский Константин Константинович","Внезапно, диаграммы связей указаны как претенденты на роль ключевых факторов. Ясность нашей позиции очевидна: высокое качество позиционных исследований является качественно новой ступенью соответствующих условий активизации! В своём стремлении улучшить пользовательский опыт мы упускаем, что элементы политического процесса, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно. В своём стремлении повысить качество жизни, они забывают, что дальнейшее развитие различных форм деятельности создаёт предпосылки для вывода текущих активов. Равным образом, начало повседневной работы по формированию позиции предопределяет высокую востребованность системы обучения кадров, соответствующей насущным потребностям. В частности, базовый вектор развития в значительной степени обусловливает важность экспериментов, поражающих по своей масштабности и грандиозности. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: новая модель организационной деятельности способствует повышению качества дальнейших направлений развития. С учётом сложившейся международной обстановки, внедрение современных методик требует от нас анализа дальнейших направлений развития. Каждый из нас понимает очевидную вещь: начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки первоочередных требований. Для современного мира курс на социально-ориентированный национальный проект требует определения и уточнения распределения внутренних резервов и ресурсов. Современные технологии достигли такого уровня, что постоянное информационно-пропагандистское обеспечение нашей деятельности предоставляет широкие возможности для распределения внутренних резервов и ресурсов. Для современного мира укрепление и развитие внутренней структуры предопределяет высокую востребованность поэтапного и последовательного развития общества.")
//        +card--review-video("Константин К","Я очень рекомендую \"Жемчужину России\" за их исключительное медицинское лечение и уход\"")
//        .card.review
//          .review--image
//            <!-- Видео или картинка -->
//            video(poster="/assets/img/1.jpg" src="/assets/video/@lepragram.mp4")
//            .review--video_play
//          .review--content
//            .review--author
//              .review--author_image
//                img(src="/assets/img/author.png")
//              .review--author_name Оксана
//              .review--author_description Знаток города 13 уровня
//            .review--info
//              .review--stars
//                <svg class="star-rate" viewBox="0 0 160 32">
//                <g mask="url(#stars-mask)">
//                <rect width="100%" height="100%" fill="var(--inactive_stars)"/>
//                </g>
//                <g mask="url(#stars-mask)">
//                <rect width="calc(4.3 / 5 * 100%)" height="100%" fill="var(--star-color)"/>
//                </g>
//                </svg>
//              .review--date
//                p 25.06.2023
//            .review--text
//              p Ребенку очень понравилось разнообразие мероприятий и программ
//  section.block.block_list.content_reviews.block_list-slider
//    <!-- свг темплейт для звезд, привязан к контенту, можно вставить в любое место до карточки -->
//    <svg style="position: absolute" viewBox="0 0 32 32" width="0" height="0">
//    <defs>
//    <linearGradient id="active_stars" x1="0" x2="100%" y1="0" y2="0">
//    <stop offset="0%" stop-color="" ></stop>
//    <stop offset="100%" stop-color="" ></stop>
//    </linearGradient>
//    <mask id="stars-mask">
//    <use xlink:href="#star" x="0"></use>
//    <use xlink:href="#star" x="32"></use>
//    <use xlink:href="#star" x="64"></use>
//    <use xlink:href="#star" x="96"></use>
//    <use xlink:href="#star" x="128"></use>
//    </mask>
//    <symbol viewBox="0 0 18 18" id="star">
//    <path fill="#fff" stroke="none" d="M7.98261,12.5601l-4.347,2.655c-0.108,0.066,-0.234,0.098,-0.36,0.092c-0.127,-0.006,-0.249,-0.049,-0.351,-0.124c-0.102,-0.075,-0.18,-0.179,-0.223,-0.298c-0.043,-0.119,-0.05,-0.249,-0.019,-0.372l1.26,-5.018l-3.653,-2.844c-0.102,-0.079,-0.178,-0.187,-0.218,-0.31c-0.039,-0.122,-0.041,-0.254,-0.005,-0.378c0.037,-0.123,0.11,-0.233,0.21,-0.314c0.099,-0.082,0.222,-0.131,0.35,-0.142l4.781,-0.394l1.995,-4.649c0.049,-0.115,0.131,-0.214,0.236,-0.283c0.105,-0.069,0.228,-0.105,0.353,-0.105c0.126,0,0.248,0.037,0.353,0.106c0.104,0.069,0.186,0.168,0.235,0.283l1.978,4.648l4.813,0.395c0.128,0.011,0.25,0.06,0.35,0.141c0.1,0.081,0.173,0.191,0.21,0.314c0.037,0.124,0.035,0.255,-0.004,0.378c-0.039,0.123,-0.114,0.231,-0.216,0.31l-3.669,2.844l1.257,5.021c0.031,0.123,0.024,0.253,-0.018,0.372c-0.043,0.12,-0.121,0.224,-0.223,0.299c-0.102,0.075,-0.225,0.119,-0.351,0.124c-0.127,0.006,-0.253,-0.026,-0.361,-0.092l-4.363,-2.66v0.001z" />
//    </symbol>
//    </defs>
//    </svg>
//    .block--wrapper
//      +block--head("подзаголовок","Отзывы","")
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//      .block--elements
//        +card--review("Константин К","Достойный санаторий! Ездили с женой по путевкам ФСС. Трансфер от вокзала, на вокзал автобусом санатория. Кормят очень хорошо, разнообразно и вкусно в две смены. Прекрасная выпечка. Плохо, что отдыхающие время свое не соблюдают, таскают потихонечку выпечку в пакетиках и кормят котов не смотря на запреты. Слаба логистика. В регистратуре, где расписываются процедуры выделена одна сотрудница на растерзание большой, непроходящей очереди. Бесплатных процедур не много, но все процедуры делаются профессионально. Персонал отзывчивый и не злобный. До моря не далеко. В 3-м корпусе хороший открытый подогреваемый бассеин с пресной водой. В феврале - марте прекрасно работает и очень востребован. Магазины в шаговой доступнисти. До 3-его копуса ходит санаторный автобус, впрочем, до него и прогуляться не далеко. Экскурсии дорогие, но на общественном транспорте 30 -40 мин до Ялты. Так же можно поехать в Симферополь. В принципе, все есть в санатории. Отъезд пока не коментирую")
//        +card--review("Константинопольский Константин Константинович","Ребенку очень понравилось разнообразие мероприятий и программ - мы вернемся в следующем году!")
//        +card--review-video("Константин К","Я очень рекомендую \"Жемчужину России\" за их исключительное медицинское лечение и уход\"")
//        .card.review
//          .review--image
//            <!-- Видео или картинка -->
//            video(poster="/assets/img/1.jpg" src="/assets/video/@lepragram.mp4")
//            .review--video_play
//          .review--content
//            .review--author
//              .review--author_image
//                img(src="/assets/img/author.png")
//              .review--author_name Оксана
//              .review--author_description Знаток города 13 уровня
//            .review--info
//              .review--stars
//                <svg class="star-rate" viewBox="0 0 160 32">
//                <g mask="url(#stars-mask)">
//                <rect width="100%" height="100%" fill="var(--inactive_stars)"/>
//                </g>
//                <g mask="url(#stars-mask)">
//                <rect width="calc(4.3 / 5 * 100%)" height="100%" fill="var(--star-color)"/>
//                </g>
//                </svg>
//              .review--date
//                p 25.06.2023
//            .review--text
//              p Ребенку очень понравилось разнообразие мероприятий и программ
//  hr
//  <!-- Карточки Новостей -->
//  section.block.block_list.content_news
//    .block--wrapper
//      +block--head("подзаголовок","Новости","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--elements
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//
//  section.block.block_list.content_news.block_list-slider
//    .block--wrapper
//      +block--head("подзаголовок","Новости","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//        a(href="/") раздел 4
//        a(href="/") раздел 5
//      .block--elements
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//        +card--media('24.06.2023','новость','10 причин выбрать "Жемчужину России"','Статья в блоге служит руководством по знакомству с дендропарком, где представлены разнообразная флора и фауна, прогулочные дорожки и другие достопримечательности.','/assets/img/1.jpg')
//  hr
//  <!-- Карточки активностей -->
//  section.block.block_list.content_cards
//    .block--wrapper
//      +block--head("подзаголовок","Занятия и активности","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//      .block--elements
//        +card--link('Пляжная зона', 'Плавать и загорать', '/assets/img/1.jpg')
//        +card--link('Пляжная зона', 'Плавать и загорать', '/assets/img/1.jpg')
//        +card--link('Пляжная зона', 'Плавать и загорать', '/assets/img/1.jpg')
//        +card--link('Пляжная зона', 'Плавать и загорать', '/assets/img/1.jpg')
//        +card--link('Пляжная зона', 'Плавать и загорать', '/assets/img/1.jpg')
//
//  section.block.block_list.content_cards.block_list-slider
//    .block--wrapper
//      +block--head("подзаголовок","Занятия и активности","Гостеприимство и профессиональные услуги по размещению - это наша гордость. Наша любовь к родной земле и тому, что она может предложить и показать путешественнику, определяют нашу философию.")
//      .block--actions
//        a(href="/").button.button-link.button-secondary
//          span Смотреть еще
//      .block--sections
//        a.is_active(href="/") раздел 1
//        a(href="/") раздел 2
//        a(href="/") раздел 3
//        a(href="/") раздел 4
//        a(href="/") раздел 5
//      .block--elements
//        +card--link('Пляжная зона','Плавать и загорать', '/assets/img/1.jpg' )
//        +card--link('Пляжная зона','Плавать и загорать', '/assets/img/1.jpg' )
//        +card--link('Пляжная зона','Плавать и загорать', '/assets/img/1.jpg' )
//        +card--link('Пляжная зона','Плавать и загорать', '/assets/img/1.jpg' )
//        +card--link('Пляжная зона','Плавать и загорать', '/assets/img/1.jpg' )
//        +card--link('Пляжная зона','Плавать и загорать', '/assets/img/1.jpg' )
//  hr
//  <!-- Карточки галереи -->
//  section.block.block_list.content_galleries
//    .block--wrapper
//      +block--head("","Галереи","")
//      .block--sections
//        a.is_active(href="/") Все
//        a(href="/") Корпуса
//        a(href="/") Пляж
//        a(href="/") Кинотеатр
//        a(href="/") Мероприятия
//      .block--elements
//        +card--gallery("Корпус “КОСМОС”", '/assets/img/1.jpg')
//        +card--gallery("Корпус “солнечный”", '/assets/img/1.jpg')
//        +card--gallery("Корпус “солнечный”", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//
//  section.block.block_list.content_galleries.block_list-slider
//    .block--wrapper
//      +block--head_title_link("","Галереи","")
//      .block--elements
//        +card--gallery("Корпус “КОСМОС”", '/assets/img/1.jpg')
//        +card--gallery("Корпус “солнечный”", '/assets/img/1.jpg')
//        +card--gallery("Корпус “солнечный”", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//        +card--gallery("Категория", '/assets/img/1.jpg')
//  hr
//
//
//  <!-- Карточки партнеров -->
//  section.block.block_list.content_partners
//    .block--wrapper
//      +block--head("","наши партнеры","")
//      .block--elements
//        +card--partners('/assets/img/partner.jpg')
//        +card--partners('/assets/img/partner1.jpg')
//        +card--partners('/assets/img/partner2.jpg')
//        +card--partners('/assets/img/partner3.jpg')
//
//  section.block.block_list.content_partners.block_list-slider
//    .block--wrapper
//      +block--head("","наши партнеры","")
//      .block--elements
//        +card--partners( '/assets/img/partner.jpg')
//        +card--partners( '/assets/img/partner1.jpg')
//        +card--partners( '/assets/img/partner2.jpg')
//        +card--partners( '/assets/img/partner3.jpg')
//        +card--partners( '/assets/img/partner3.jpg')
//  hr
//
//  <!-- Карточки расписание -->
//  section.block.block_list.content_schedule
//    .block--wrapper
//      +block--head("","Распорядок дня","")
//      .block--elements
//        +card--schedule('Утро', '/assets/img/schedule/morning.svg')
//        +card--schedule('Полдень', '/assets/img/schedule/noon.svg')
//        +card--schedule('День', '/assets/img/schedule/day.svg')
//        +card--schedule('Вечер', '/assets/img/schedule/evening.svg')
//        +card--schedule('Ночь', '/assets/img/schedule/night.svg')
//
//  section.block.block_list.content_schedule.block_list-slider
//    .block--wrapper
//      +block--head("","Распорядок дня","")
//      .block--elements
//        +card--schedule('Утро', '/assets/img/schedule/morning.svg')
//        +card--schedule('Полдень', '/assets/img/schedule/noon.svg')
//        +card--schedule('День', '/assets/img/schedule/day.svg')
//        +card--schedule('Вечер', '/assets/img/schedule/evening.svg')
//        +card--schedule('Ночь', '/assets/img/schedule/night.svg')
//
//  hr
//  <!-- Список акордеон -->
//  section.block.block_list.content_faq
//    .block--wrapper
//      +block--head("информация", "вопросы и ответы", "“Рассветы Закаты” стремимся обеспечить наилучшие впечатления для наших гостей от регистрации до выезда. Мы составили список общих вопросов, чтобы сделать ваш отдых как можно более роскошным. Если у вас возникнут дополнительные вопросы или проблемы, не стесняйтесь обращаться к нам напрямую.")
//      .block--actions
//        a.button.button-filled.button-accent(href="/" target="_blank")
//          span Заказать
//        a.button.button-outlined.button-accent(href="/" target="_blank")
//          span Смотреть еще
//      .block--elements
//        +accordion-list("О бронировании и графике работы","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
//        +accordion-list("Как добраться до отеля","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
//        +accordion-list("Можно ли с домашними животными","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
//
//  hr
//  <!-- Карточки эдвантаджи -->
//  include ../../components/content/content_advantages/content_advantages
//  include ../../components/content/content_advantages/content_advantages_icons
