extends ../../layouts/breadcrumbs

block variables
  - var title = "Статья, новость детальные"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.block
    .block--wrapper
      .block--content.is_cascade
        h2 Веревочный лагерь
        h3 Маршруты
        ul
          li Маршрут «Семейный» 4+
          li Маршрут «Мастер» 14+
          li Маршрут «Герой» 16+
        h3 Веревочный парк – это самое настоящее приключение, которое тренирует смелость, ловкость и находчивость!
        img(src="./assets/img/attractions_events/5.jpg")
        p Посещение веревочного лагеря подарит возможность испытать себя, свои силы, пережить новые ощущения и почувствовать вкус победы!
        p Прохождение веревочных трасс развивает гибкость и даёт полезную нагрузку на многие группы мышц. Даже древние греки использовали такие парки для тренировки своих олимпийцев!
        p Пусть семейный отдых с детьми будет не просто развлечением. Включайте веревочный парк в ДРИМВУД в список интересных мест Крыма!
        p P.S. Для посещения Веревочного лагеря обувь должна быть спортивной, полностью закрытой, плотно прилегающей к ноге, с нескользкой подошвой толщина которой не превышает 3 см., например: кроссовки, кеды, спортивные туфли без каблука.

