//.booking.js-booking
//  label.booking__calendar
//    input.booking__calendar-item#checkin(placeholder="Заезд")
//    input.booking__calendar-item#checkout(placeholder="Выезд")
//  //.booking__room.js-booking_room
//    .booking__room-item.js-booking_room_button
//      span Гостей:
//      span.js-booking_room_choice_guest
//      span Номеров:
//      span.js-booking_room_choice_rooms
//    .booking__room-input
//      .booking__room-input-title Проживающие
//      .booking__room-input-content
//        .booking__room-input-content-item
//          .booking__room-input-content-item-heading
//            h3 Номер 1
//            .booking__room-input-content-item-heading-delete.js-room_item-delete_button
//              .icon-ic24-delete
//          .booking__room-input-content-item-input
//            .booking__room-input-content-item-input-adults
//              span Взрослые
//              .booking__room-input-content-item-input-quantity.js-quantity_input
//                .js-decrement
//                  .icon-ic24-minus
//                input(type="number" pattern="[0-9]*" inputmode="numeric" placeholder='1')
//                .js-increment
//                  .icon-ic24-plus
//            .booking__room-input-content-item-input-kids
//              span Дети
//              .booking__room-input-content-item-input-quantity.js-quantity_input
//                .js-decrement
//                  .icon-ic24-minus
//                input(type="number" pattern="[0-9]*" inputmode="numeric" placeholder='1')
//                .js-increment
//                  .icon-ic24-plus
//
//
//        .booking__room-input-button.js-addFields
//          span Добавить номер
//
//  .booking__button
//    button.button.button-filled.button-accent
//      span Проверить цены
//
