
.popup.popup--form(data-popup="popup_for_vacancy_form")
  .popup__content
    .popup__close
      button.button(data-closepopup)
        span.icon-ic24-close
    .popup__form
      include ../../components/form/form

.popup.popup--confirmation(data-popup="popup_for_confirmation")
  .popup__content
    .popup__close
      button.button(data-closepopup)
        span.icon-ic24-close
    h3.popup__content-title Спасибо!
    p.popup__content-text Мы свяжемся с вами в скором времени

.popup(data-popup="popup_for_filters")
  .popup__content
    .popup__close
      button.button(data-closepopup)
        span.icon-ic24-close
    h3.popup__content-title  Фильтр вакансий
    .popup__content-buttons
      button.button.button-outlined.button-secondary
        span.icon-ic24-refresh
        span Сбросить
      button.button.button-filled.button-accent(data-closepopup)
        span Применить

.popup(data-popup="popup_for_room_advantages")
  .popup__content
    .popup__close
      button.button(data-closepopup)
        span.icon-ic24-close
    h3.popup__content-title Удобства номера
