.popup(data-popup="popup_for_form")
  .popup__content
    .popup__close
      button.button(data-closepopup)
        span.icon.icon-accordion-open
    .popup__content-text тут будет форма

.popup(data-popup="popup_for_schedule")
  .popup__content
    .popup__close
      button.button(data-closepopup)
        span.icon.icon-accordion-open
    .image
      img(src="/assets/img/schedule.png" alt="")
