
.popup
  background-color: rgba(43, 43, 43, 0.73)
  padding: var(--g-40, 40px)
  @media(max-width: 768px)
    padding: 0
    place-items: start
    height: 100dvh
  &__content
    max-width: 780px
    background-color: var(--c-text-white)
    border-radius: 24px
    padding: var(--g-32)
  &__close
    border-radius: 12px
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    left: calc(100% + 20px)
    z-index: 4
    cursor: pointer
    transition: 0.3s ease-out
    color: var(--c-text-white)
    width: var(--g-section-inner)
    height: var(--g-section-inner)
    @media(max-width: 768px)
      left: unset
      right: 16px
      top: 16px
      color: var(--c-text-dark)
    .icon-close
      font-size: 24px

.popup__content-buttons
  display: flex
  align-items: center
  gap: 16px

.popup.popup--menu
  place-items: start
  padding: 0
  .popup__content
    background-color: var(--c-surface-default)
    height: 100%
    width: clamp(325px, 25vw, 360px)
    transform: translateX(-100%)
    transition: 0.24s ease-out
    transition-delay: 0.05s
    @media(max-width: 768px)
      width: 100%
  &.active
    .popup__content
      transform: translateX(0)

[data-popup="popup_for_room_advantages"],
.popup--form,
.popup--confirmation
  .popup__content
    max-width: 702px
    width: 100%
    background-color: var(--c-surface-default)
    @media(max-width: 768px)
      min-height: 100%
    .popup__content-title
      font-size: var(--fs-28)
      font-weight: 700
    .popup__content-text
      font-size: var(--fs-20)
      color: var(--c-text-subdued)
      line-height: 1.5
      margin: 8px 0 var(--g-24)
  .room_content__advantages_list
    grid-template-columns: 1fr
    margin: 0
    li:nth-child(n+7)
      display: flex


[data-popup="popup_for_filters"]
  .popup__content
    height: 100%
    width: 100%
    position: relative
  .block--sections
    flex-direction: column
    align-items: flex-start
    a
      position: relative
      font-weight: 400
      display: flex
      align-items: center
      gap: 12px
      &:before
        content: ""
        display: block
        width: 24px
        height: 24px
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='3.5' stroke-width='2px' stroke='%238C9196'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.91006 14.4959L7.7071 12.2929C7.31658 11.9024 6.68342 11.9024 6.29289 12.2929C5.90237 12.6834 5.90237 13.3166 6.29289 13.7071L9.29288 16.7071C9.7168 17.131 10.4159 17.0892 10.7863 16.6178L17.7863 8.61786C18.1275 8.18359 18.0521 7.55494 17.6178 7.21372C17.1835 6.87251 16.5549 6.94795 16.2136 7.38222L9.91006 14.4959Z' fill='white'/%3E%3C/svg%3E")
      &.active
        color: var(--c-text-dark)
        &:before
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2.5' y='2.5' width='19' height='19' rx='3.5' fill='%238561CC' stroke='%238561CC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.91006 14.4959L7.7071 12.2929C7.31658 11.9024 6.68342 11.9024 6.29289 12.2929C5.90237 12.6834 5.90237 13.3166 6.29289 13.7071L9.29288 16.7071C9.7168 17.131 10.4159 17.0892 10.7863 16.6178L17.7863 8.61786C18.1275 8.18359 18.0521 7.55494 17.6178 7.21372C17.1835 6.87251 16.5549 6.94795 16.2136 7.38222L9.91006 14.4959Z' fill='white'/%3E%3C/svg%3E")
      @media(max-width: 768px)
        display: flex
    button
      display: none
  .popup__content-buttons
    position: absolute
    bottom: 12px
    left: 0
    display: flex
    gap: 8px
    width: 100vw
    padding: 8px
    .button
      flex: 0 0 calc(50% - 4px)

.popup--balloon
  .popup__content
    padding: 0
    background-color: transparent
    max-width: 820px
  .popup__close
    left: unset
    right: var(--g-32)
    top: var(--g-32)

.popup--page_banner
  background-color: transparent
  padding: 12px
  width: 420px
  height: fit-content
  right: 32px
  left: unset
  top: unset
  border-radius: 16px
  @media(max-width: 768px)
    right: 0
  .popup__content
    background-color: var(--c-text-dark)
    color: var(--c-text-white)
    display: grid
    grid-template-areas: 'title  image' 'text   image' 'buttons image'
    place-items: center start
    padding: 16px 32px 16px 16px
    gap: 12px 24px
    .popup__content-image
      grid-area: image
      width: 64px
      height: 64px
      border-radius: var(--border-corner)
    .popup__content-title
      grid-area: title
      text-overflow: ellipsis
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      font-size: var(--fs-18)
    .popup__content-text
      grid-area: text
      text-overflow: ellipsis
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      font-size: 14px
    .popup__content-buttons
      grid-area: buttons
      display: flex
      gap: 8px
      flex-wrap: wrap
      .button
        padding: 8px 12px
        font-size: var(--fs-16)


.popup--scheme
  padding: var(--g-32)
  .popup__close
    left: unset
    right: var(--g-32)
    top: var(--g-32)
  .popup__content
    background-color: #fff
    border-radius: 32px
    overflow: hidden
    max-width: 820px
    width: 100%
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.49)
    padding: 0
  .popup__content_description
    padding: var(--g-32)
    display: flex
    flex-direction: column
    gap: 12px
  .popup__content-image
    aspect-ratio: 820 / 472
    width: 100%
    overflow: hidden
    border-radius: 32px
    position: relative
  .slider_controls
    margin-top: 12px
    gap: 8px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    padding: var(--g-28)
    --swiper-pagination-color: #fff
    --swiper-pagination-bullet-width: 16px
    --swiper-pagination-bullet-height: 16px
    --swiper-pagination-bullet-inactive-opacity: 0.6
    --swiper-pagination-bullet-inactive-color: #fff
  .swiper-button-next, .swiper-button-prev
    width: 48px
    height: 48px
  .popup__content-title
    font-weight: 700
    font-size: var(--fs-36)
    text-transform: uppercase
  .popup__content-subtitle
    font-size: var(--fs-20)
    color: var(--c-text-dark-paragraph)
  .popup__content-buttons
    margin-top: 12px

.popup__content-image-slide
  aspect-ratio: 820 / 472
  width: 100%

.popup--hero_video
  .popup__close
    left: unset
    right: var(--g-32)
    top: var(--g-32)
    z-index: 5
    //color: var(--c-text-dark)
    background: rgba(0,0,0,0.15)
  .popup__content
    max-width: 100%
    width: 100%
    height: 100%
    padding: 0
    overflow: hidden
  video
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

