section.block.block_image_text
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "block_image_text", "")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id possimus quis ratione temporibus. Amet exercitationem iure nobis quia totam. Eaque enim ipsa mollitia nisi, nostrum odit quaerat? Est et inventore ipsam minima, possimus sunt?
    .block--actions
      a(href="/").button.button-filled.button-accent
        span Кнопка
      a(href="/").button.button-outlined.button-secondary
        span Кнопка

section.block.block_image_text.block_image_text-reversed
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "block_image_text reversed", "")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, sit.
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее
    .block--subtitle
      span  Для нас важно, чтобы ребенок изучал мир с удовольствием!
section.block.block_image_text.block_image_text-wide
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "wide", "")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, recusandae.
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-wide
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "wide reversed", "")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad commodi cum dolorum exercitationem fuga itaque.
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-ratio
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "ratio", "")
    .block--content.is_cascade
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, veritatis.
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-ratio
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "ratio reversed", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

// сабтитл, титл, текст, кнопка, картинка без фона
section.block.block_image_text.block_image_text-ratio_portrait
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("", "portrait", "")
    .block--content.is_cascade
      p Ощутите воплощение роскоши в нашем отеле. Отдохните в нашем бассейне и аквапарке, побалуйте себя в оздоровительном центре и спа, насладитесь ресторанами и развлечениями
      p Откройте для себя все, что может предложить наш отель, и сделайте свой отдых незабываемым.
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-ratio_portrait
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "portrait reversed", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-ratio_landscape
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "landscape ", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-ratio_landscape
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "landscape reversed", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-wrapper_bg
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "wrapper_bg", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-wrapper_bg.block_image_text-wide
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "wrapper_bg wide", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее
section.block.block_image_text.block_image_text-reversed.block_image_text-wrapper_bg.block_image_text-wide
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "wrapper_bg reversed wide", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-wrapper_bg
  .block--wrapper
    .block--image
      img(src="/assets/img/3.jpg" alt="")
    +block--head("Шеф повар", "wrapper_bg reversed", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed.block_image_text-bg
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "text-bg", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-bg
  .block--wrapper
    .block--image
      img(src="/assets/img/1.jpg" alt="")
    +block--head("Шеф повар", "text-bg", "")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text.block_image_text-reversed
  .block--wrapper
    +block--head("Шеф повар", "text-bg", "Полноценный отдых в уникальной субтропической климатической зоне на побережье")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее

section.block.block_image_text
  .block--wrapper
    +block--head("Шеф повар", "text-bg", "Полноценный отдых в уникальной субтропической климатической зоне на побережье")
    .block--content.is_cascade
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
      p Полноценный отдых в уникальной субтропической климатической зоне на побережье Черного моря с видом на заснеженные вершины Кавказских гор
    .block--actions
      a(href="/").button.button-outlined.button-secondary
        span Подробнее
