.content_scheme
  --accent: var(--color-green)
  .block--head
    grid-area: head
    position: relative
    &:after
      content: ''
      position: absolute
      right: 0
      bottom: 0
      background-image: url("../img/svg/heart.svg")
      background-repeat: no-repeat
      background-size: cover
      width: clamp(47px, calc(47px + (83 - 47) * ((100vw - 768px) / (1440 - 768))), 83px)
      height: clamp(43px, calc(43px + (77 - 43) * ((100vw - 768px) / (1440 - 768))), 77px)

  &:not(.block_list-slider)
    .block--wrapper
      grid-template-columns: 1fr
      display: grid
      grid-template-areas: 'head ' 'text ' 'subtitle' 'filters' 'image'
      align-items: start
      gap: var(--g-24) 0
      @media (min-width: 1140px)
        display: grid
        grid-template-columns: 0.7fr 1fr
        grid-template-areas: 'head head' 'filters image' 'text image' 'subtitle image'
        grid-template-rows: auto
        place-content: start
        gap: 0 var(--g-40)
    .block--sections
      grid-area: filters
      gap: var(--g-40)
      margin-right: 0
      margin-bottom: 0
    .block--content
      grid-area: text
    .block--content-subtitle
      grid-area: subtitle
    .block--image
      grid-area: image
      @media (max-width: 475px)
        overflow: hidden
        margin-left: calc(var(--g-40) * -1)
        margin-right: calc(var(--g-40) * -1)
      svg
        @media (max-width: 475px)
          left: -20%
          width: 140%
          position:  relative



  .scheme-filters
    display: flex
    flex-wrap: wrap
    gap: 12px
  .scheme-filters_item
    position: relative
    &:after
      content: ''
      top: 0
      right: 0
      bottom: 0
      left: 0
      position: absolute
      opacity: 0
      transition: var(--transition)

  .scheme-item
    display: none
    opacity: 0
    transition: var(--transition)
    &.is_active
      display: block
      opacity: 1
      @media (max-width: 992px)
        display: none
  .block--content_subtitle
    font-family: 'Oswald'
    font-size: var(--fs-30)
    font-weight: 500
    line-height: 1.36
    color: var(--color-blue)
    text-transform: uppercase
    position: relative
    .icon:after
      content: ''

      display: inline-block
      width: 23px
      height: 23px
      background-image: url("../img/svg/bck-decor-7.svg")
      margin-left: 5px
      @media (max-width: 475px)
        right: -10px
        bottom: 10px
        position: absolute
  .scheme-filters_item.is_active
    border-color: transparent
    color: #fff
    & span
      z-index: 2
    &:after
      opacity: 1
      background-image: url("../img/svg/filters/filters-active.svg")
      background-repeat: no-repeat

  // scheme
.placemark
  cursor: pointer


#dome,
#arealMountains,
#arealWater,
#arealWind,
#arealForest,
#metropolis
  opacity: 0.8
  transition: var(--transition)
  .st0
   fill: #FFFFFF
  .st1
    fill: #15466B

#dome.is_active
  opacity: 1
  .st0
    fill: #9986B4
  .st1
    fill: #FFFFFF
#arealMountains.is_active
  opacity: 1
  .st0
    fill: #EB6852
  .st1
    fill: #FFFFFF
#arealWater.is_active
  opacity: 1
  .st0
    fill: #0281C9
  .st1
    fill: #FFFFFF
#arealWind.is_active
  opacity: 1
  .st0
    fill: #F8B500
  .st1
    fill: #FFFFFF
#arealForest.is_active
  opacity: 1
  .st0
    fill: #77B845
  .st1
    fill: #FFFFFF
#metropolis.is_active
  opacity: 1
  .st0
   fill: #715893
  .st1
    fill: #FFFFFF
