.block--content.is_cascade
  .accordion.js-openAccordion
    .accordion--button
      span.lable 10:00 - 11:00
      p.accordion--button_text Мастер-класс “Роспись камней”
      span.icon
    .accordion--content.is_cascade
      p Мастер-класс “Роспись камней
      p Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.
  .accordion.js-openAccordion
    .accordion--button
      span.lable 11:00 - 12:00
      p.accordion--button_text Dream dance
      span.icon
    .accordion--content.is_cascade
      p=text
      p Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.
  .accordion.js-openAccordion
    .accordion--button
      span.lable 12:00 - 13:00
      p.accordion--button_text Мастер-класс “Твистинг
      span.icon
    .accordion--content.is_cascade
      p=text
      p Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.
  .accordion.js-openAccordion
    .accordion--button
      span.lable 13:00 - 14:00
      p.accordion--button_text Лаборатория Нитрогениума”
      span.icon
    .accordion--content.is_cascade
      p
      p Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.

