.content_program
  position: relative
  &:after
    content: ''
    position: absolute
    top: -200px
    bottom: -40%
    left: 0
    right: 0
    width: 100%
    height: clamp(700px, calc(700px + (1300 - 700) * ((100vw - 375px) / (1440 - 375))), 1300px)
    background-image: url("../img/svg/bck-big-decor-3.svg")
    background-repeat: no-repeat
    background-size: contain
    background-position: right
    z-index: -1
    @media (max-width: 768px)
      top: 0
      background-position: top center
      background-size: cover

  .block--head
    @media (max-width: 768px)
      padding-bottom: 30px
    &:after
      content: ''
      position: absolute
      top: -10%
      right: -10%
      background-image: url("../img/svg/bck-decor-8.svg")
      background-repeat: no-repeat
      background-size: contain
      background-position: right
      width: clamp(48px, calc(48px + (97  - 48) * ((100vw - 768px) / (1440 - 768))), 97px)
      height: clamp(43px, calc(43px + (87  - 43) * ((100vw - 768px) / (1440 - 768))), 87px)
      @media (max-width: 768px)
        top: auto
        bottom: 0
        right: 0

  .accordion--button
    @media (max-width: 768px)
      display: grid
      grid-template-columns: auto 1fr auto
    @media (max-width: 560px)
      .label
        width: 84px


