.block--content.is_cascade.block-accordion
  +accordion-list("10:00 - 11:00","Мастер-класс “Роспись камней","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
  +accordion-list("11:00 - 12:00","Dream dance", "Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
  +accordion-list("12:00 - 13:00","Мастер-класс “Твистинг","Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
  +accordion-list("13:00 - 14:00","Лаборатория Нитрогениума”", "Вы можете получить консультацию по указанным на сайте телефонам. Отдел бронирования работает с 09:00-17:00, кроме выходных и праздничных дней. В сезон круглосуточно работает дежурный администратор.")
