.card
  flex-shrink: 0
  flex-grow: 0



.card--title
  text-overflow: ellipsis
  display: flex
  gap: var(--g-20)
  justify-content: space-between
  align-items: flex-start
  overflow: hidden
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  transition: var(--transition)

.card--image
  display: flex
  align-items: flex-start
  position: relative
  z-index: 2
  .card--image_slide
    position: relative
    flex: 0 0 auto
  .swiper-button-next,
  .swiper-button-prev
    color: #0281C9
    background: #E6F2FB
    border: none
    z-index: 10
    top: 50%
    position: absolute
    width: 27px
    height: 27px
    padding: 10px
    &:after
      border: none
      font-weight: bold
      font-size: 25px
      padding: 2px
    &:hover:after,
    &:active:after
      color: #E6F2FB
      background-color: #0281C9
      border: none
  .swiper-button-next:after
    content: '\e909'
  .swiper-button-prev:after
    content: '\e90c'
  .swiper-pagination-bullet
    background-color: #fff
    opacity: 1
    position: relative
  .swiper-pagination-bullet-active:after
    content: ''
    position: absolute
    width: 6px
    height: 6px
    display: block
    border-radius: 50%
    left: 50%
    top: 50%
    translate: -50% -50%
    background-color: #E96852

.block_list:not(.block_list-slider)
  .card
    @media(max-width: 768px)
      border-radius: var(--border-corner)
      box-shadow: 2px 2px 23px 0px rgba(34, 60, 80, 0.2)
  .card--content
    @media(max-width: 768px)
      padding: 10px

.content_events
  .card--image
    aspect-ratio: 280 / 288
.page--events
  .card--image
    aspect-ratio: 380 / 288
.content_events
  .card
    display: flex
    flex-direction: column
    border-radius: var(--border-corner)
    overflow: hidden
    position: relative
    transition: var(--transition)
    background-color: var(--background-card)
  .card--image
    overflow: hidden
    flex: 0 0 auto
    width: 100%
    height: auto
    @media(max-width: 768px)
      border-radius: 16px
    img
      width: 100%
      height: 100%
      transition: var(--transition)
  .card--content
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: 16px var(--g-24)
    background-color: var(--c-surface-default)
    height: 100%
  .card--subtitle
    line-height: 1.25
    font-weight: 400
    color: var(--c-text-white-paragraph)
    margin-bottom: 8px
  .card--title
    h3
      font-weight: 450
      text-transform: uppercase
      line-height: 1.36
      font-size: 21px
      letter-spacing: -0.01em
      margin-bottom: var(--fs-24)
  .card--text
    font-weight: 500
    margin-bottom: 16px



.content_area
  .content_events,
  .card
    display: flex
    flex-direction: column
    border-radius: var(--border-corner)
    overflow: hidden
    position: relative
    transition: var(--transition)
  .card--image
    aspect-ratio: 380 / 320
    overflow: hidden
    flex: 0 0 auto
    width: 100%
    height: auto
    img
      width: 100%
      height: 100%
      transition: var(--transition)
      border-radius: var(--border-corner)
  .card--content
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: var(--g-24) 0
    height: 100%
  .card--subtitle
    line-height: 1.25
    font-weight: 400
    color: var(--c-text-white-paragraph)
    margin-bottom: 8px
  .card--title
    h3
      font-weight: 450
      text-transform: uppercase
      line-height: 1.36
      font-size: 21px
      letter-spacing: -0.01em
      margin-bottom: var(--fs-24)
  .card--text
    font-weight: 500
    margin-bottom: 16px

  .card--link
    margin-top: auto


.content_activity
  .card--image
    aspect-ratio: 580 / 320
.content_attractions
  .card--image
    aspect-ratio: 380 / 320
.content_attractions,
.content_activity
  .card
    display: flex
    flex-direction: column
    overflow: hidden
    position: relative
    transition: var(--transition)
  .card--image
    overflow: hidden
    flex: 0 0 auto
    width: 100%
    height: auto
    margin-bottom: 24px
    border-radius: var(--border-corner)
    @media(max-width: 768px)
      border-radius: 16px
    img
      width: 100%
      height: 100%
      transition: var(--transition)
      flex: 0 0 auto
  .card--content
    display: flex
    align-items: flex-start
    flex-direction: column
    height: 100%
  .card--label
    position: absolute
    text-align: center
    top: var(--g-20)
    right: var(--g-20)
    padding: 5px 8px
    min-width: 100px
    border-radius:  var(--border-corner)
    font-weight: 500
    font-size: 14px
    line-height: 1.35
    color: #fff
    z-index: 2
    &.maintenance
      background-color: #F8B500
    &.actions
      background-color: #AB8EB8
    &.close
      background-color: #E96852
    &:empty
      display: none
  .card--title
    width: 100%
    margin-bottom: var(--fs-24)
    h3
      font-weight: 450
      text-transform: uppercase
      line-height: 1.36
      font-size: var(--fs-26)
      letter-spacing: -0.01em
    .icons
      display: flex
      gap: 8px
      &--age
        color: var(--color-blue)
        display: flex
        align-items: center
        gap: 8px
        &:before
          content: ''
          display: inline-block
          background: url("../img/svg/filters/age.svg") center no-repeat
          background-size: contain
          width: 24px
          height: 24px
      &--height,
      &--sale
        color: var(--color-green)
        display: flex
        align-items: center
        gap: 8px
      &--height
        &:before
          content: ''
          display: inline-block
          background: url("../img/svg/filters/height.svg") center no-repeat
          background-size: contain
          width: 24px
          height: 24px
      &--sale
        &:before
          content: ''
          display: inline-block
          background: url("../img/svg/filters/sale.svg") center no-repeat
          background-size: contain
          width: 24px
          height: 24px
  .card--text
    line-height: 1.25
    font-size: clamp(14px, calc(14px + (16 - 14) * ((100vw - 1024px) / (1920 - 1024))), 16px)
    font-weight: 500
    margin-bottom: 16px
  .card--link
    font-size: var(--fs-18)
    line-height: 1.25
    color: var(--color-pink)
    margin-top: auto
    display: flex
    align-items: center
    gap: 8px


.block_list-slider.content_restaurant
  .card
    display: flex
    flex-direction: column
    border-radius: var(--border-corner)
    overflow: hidden
    position: relative
    transition: var(--transition)
    background-color: var(--background-card)
  .card--image
    aspect-ratio: 576 / 320
    overflow: hidden
    flex: 0 0 auto
    width: 100%
    height: auto
    @media(max-width: 768px)
      border-radius: 16px
    img
      width: 100%
      height: 100%
      transition: var(--transition)
  .card--content
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: var(--g-24) var(--g-20)
    background-color: var(--c-surface-default)
    height: 100%
  .card--title
    h3
      font-weight: 450
      text-transform: uppercase
      line-height: 1.36
      font-size: 21px
      letter-spacing: -0.01em
      margin-bottom: var(--fs-24)
  .card--text
    font-size: clamp(14px, calc(14px + (16 - 14) * ((100vw - 1024px) / (1920 - 1024))), 16px)
  .card--link
    margin-top: 16px
    display: flex
    gap: 24px
    .menu
      --outlined-bc-base:  var(--color-green)
      --outlined-c-base:  var(--color-green)
      --outlined-bgc-hover: var(--color-green)
      --outlined-bc-hover:  var(--color-green)
      --outlined-c-hover: var(--c-text-white)
      padding: 5px 10px


.content_personage
  --accent : var(--color-blue)
  .card
    display: flex
    flex-direction: column
    border-radius: var(--border-corner) var(--border-corner) 0 0
    overflow: hidden
    position: relative
    transition: var(--transition)
    background-color: var(--background-card)
    border-radius: var(--border-corner)
  .card--image
    aspect-ratio: 280 / 280
    overflow: hidden
    flex: 0 0 auto
    width: 100%
    height: auto
    @media(max-width: 768px)
      border-radius: 16px
    img
      width: 100%
      height: 100%
      transition: var(--transition)
  .card--content
    padding: var(--g-24) var(--g-20)
    background-color: var(--c-surface-default)
    height: 100%
    .card--title
      font-family: Oswald
      font-weight: 450
      text-transform: uppercase
      line-height: 1.36
      font-size: 21px
      letter-spacing: -0.01em
      color: var(--accent)


.content_shows
  .card
    display: flex
    flex-direction: column
    border-radius: var(--border-corner)
    overflow: hidden
    position: relative
    transition: var(--transition)
    background-color: #F9FCFF
    border-radius: var(--border-corner)
  .card--image
    aspect-ratio: 280 / 288
    overflow: hidden
    flex: 0 0 auto
    width: 100%
    height: auto
    @media(max-width: 768px)
      border-radius: 16px
    img
      width: 100%
      height: 100%
      transition: var(--transition)
  .card--content
    display: flex
    align-items: flex-start
    flex-direction: column
    padding: 16px var(--g-24)
    background-color: var(--c-surface-default)
    height: 100%
  .card--title
    justify-content: space-between
    width: 100%
    h3
      font-weight: 450
      text-transform: uppercase
      line-height: 1.36
      font-size: 21px
      letter-spacing: -0.01em
      margin-bottom: var(--fs-24)
    .icons
      display: flex
      gap: 8px
      &--age
        color: var(--color-blue)
        display: flex
        align-items: center
        gap: 8px
        &:before
          content: ''
          display: inline-block
          background: url("../img/svg/filters/age.svg") center no-repeat
          background-size: contain
          width: 24px
          height: 24px
  .card--text
    line-height: 1.25
    font-size: clamp(14px, calc(14px + (16 - 14) * ((100vw - 1024px) / (1920 - 1024))), 16px)
    font-weight: 500
    margin-bottom: 16px
  .card--link
    margin-top: auto

.icon.icon-arrow-card:before
  content: '\e902'
  font-size: 14px
  padding: 1px 3px 1px 3px
  color: #fff
  background-color: var(--color-pink)
  border-radius: 50%
  transition: var(--transition)

.card--link
  .button:hover .icon-arrow-card:before
    color: #fff
    background-color: var(--c-text-dark)
