extends ../layouts/hero

block variables
  - var title = "Тематический день"
  - var pageClass = 'page--day'
  - var activePage = 'index'


block content
  section.block.block_banner.block_banner-hero.block_banner-nav
    .block--wrapper
      .banner
        .block_nav-page
          .nav
            a(href='#about')  О мероприятие
            a(href='#programm')  Программа
            a(href='#programm')  Расписание
            a(href='#gallery')  Галерея
        .block--content
          <svg class="hero_clip_svg">
          <clipPath id="my-clip-path-2" clipPathUnits="objectBoundingBox"><path d="M1,0 V0.857 H1 C0.872,0.857,0.673,0.704,0.503,0.727 C0.47,0.732,0.389,0.753,0.389,0.843 C0.389,0.917,0.418,0.978,0.427,0.996 C0.428,0.998,0.427,1,0.426,1 C0.4,0.991,0.27,0.944,0.186,0.87 C0.106,0.8,0.039,0.73,0,0.597 V0 H1"></path></clipPath>
          </svg>
          <svg class="hero_clip_svg">
          <clipPath id="my-clip-path-2-mob" clipPathUnits="objectBoundingBox"><path d="M1,0 v0.809 c-0.13,-0.015,-0.262,-0.023,-0.386,-0.017 c-0.073,0.003,-0.253,0.02,-0.253,0.089 c0,0.053,0.055,0.098,0.079,0.115 c0.003,0.002,0,0.006,-0.005,0.005 C0.377,0.993,0.171,0.966,0,0.925 V0 H1"></path></clipPath>
          </svg>
          img(src="./assets/img/banner-attractions.png")
        +block--head("20-25 июля","название дня" ,"","За фасадами города скрываются настоящие чудеса. Откройте их все!")


  section.block.block_image_text.block_image_text-reversed.mask-fire#about
    .block--wrapper
      .block--image
        <svg class="svg">
        <clipPath id="mask-fire" clipPathUnits="objectBoundingBox"><path d="M0.694,0.974 L0.816,0.897 L0.921,0.808 L0.992,0.694 L1,0.567 L0.981,0.441 L0.951,0.316 L0.88,0.205 L0.805,0.092 L0.702,0 L0.629,0.099 L0.554,0.206 L0.449,0.113 L0.337,0.023 L0.297,0.146 L0.265,0.258 L0.146,0.196 L0.004,0.158 L0.001,0.284 L0,0.41 L0.009,0.538 L0.047,0.659 L0.111,0.772 L0.183,0.884 L0.305,0.959 L0.452,0.987 L0.602,1 L0.694,0.974"></path></clipPath>
        </svg>
        img(src="./assets/img/holidays-img.png" alt="")
      +block--head('','О мероприятии','','')
      .block--content
        p Среди миллиарда ярких звезд, на обратной стороне холодной Луны, живет лунный кролик.В новогоднюю ночь он решает спуститься на Землюс вихрем снежинок, чтобы узнать, как устроен наш мир, ведь он долго наблюдал за нами.Теперь ему предстоит встретиться с опасностями таинственного леса и найти друзей, которые помогут ему вернуться домой.


  section.block.block_html_code.content_advantages
    .block--wrapper
      +block--head('','что вас ждет','','')
      .block--content
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-1.svg" alt="")
          .advantages-text Анимационная программа для детей
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-2.svg" alt="")
          .advantages-text Интерактивная программа для взрослых
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-3.svg" alt="")
          .advantages-text Тематические мастер-классы
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-4.svg" alt="")
          .advantages-text Танцевально-акробатические номера от артистов оригинального жанра
        .advantages-item
          .advantages-icon
            img(src="./assets/img/svg/advantages-icon-5.svg" alt="")
          .advantages-text Тесла-шоу

  section.block.block_list.content_program#programm
    .block--wrapper
      +block--head('','расписание','активностей дня','')
      include ../components/content/content_program/content_program


  section.block.block_image_text.mask-flower.content_image-text-action-2
    .block--wrapper
      .block--image
        <svg class="svg">
        <clipPath id="mask-flower" clipPathUnits="objectBoundingBox"><path d="M0.247,0.825 C0.237,0.861,0.233,0.897,0.24,0.929 C0.244,0.951,0.257,0.958,0.281,0.947 C0.318,0.929,0.352,0.911,0.379,0.879 C0.42,0.832,0.441,0.832,0.472,0.768 C0.509,0.882,0.589,0.908,0.656,0.986 C0.67,1,0.687,1,0.697,0.986 C0.738,0.89,0.749,0.825,0.735,0.715 C0.725,0.693,0.735,0.686,0.749,0.683 C0.773,0.683,0.793,0.683,0.817,0.675 C0.878,0.665,0.9,0.621,0.964,0.631 C0.995,0.635,1,0.624,0.995,0.592 C0.974,0.538,0.963,0.488,0.916,0.445 C0.864,0.397,0.828,0.391,0.749,0.38 C0.732,0.384,0.725,0.384,0.729,0.363 C0.746,0.249,0.721,0.229,0.711,0.137 C0.711,0.104,0.683,0.054,0.673,0.029 C0.66,-0.007,0.65,-0.007,0.623,0.015 C0.609,0.025,0.599,0.04,0.589,0.054 C0.541,0.119,0.495,0.137,0.48,0.184 C0.474,0.206,0.46,0.22,0.44,0.199 C0.426,0.184,0.392,0.176,0.376,0.161 C0.318,0.118,0.281,0.147,0.22,0.115 C0.193,0.101,0.183,0.108,0.183,0.137 C0.183,0.215,0.179,0.294,0.217,0.363 C0.227,0.384,0.227,0.388,0.206,0.391 C0.145,0.406,0.088,0.427,0.03,0.456 C0.02,0.459,0,0.456,0,0.474 C0,0.488,0.014,0.495,0.024,0.502 C0.098,0.56,0.149,0.631,0.24,0.649 C0.281,0.657,0.291,0.657,0.274,0.7 C0.257,0.743,0.259,0.777,0.247,0.825"></path></clipPath>
        </svg>
        img(src="./assets/img/holidays-img.png" alt="")
      +block--head('','праздники','в парке','')
      .block--content
        p Сделаем любой праздник незабываемым. Вас ждут: сказочная атмосфера парка, яркие персонажи и интересная программа!
      .block--actions
        a(href="/").button.button-filled.button-accent
          span Подробнее
        a(href="tel:" ).phone-circle
          span.icon-phone-circle
          span 8 800 550 06 79

  section.block.block_element.content_gallery#gallery
    .block--wrapper
      +block--head('','ВОЛШЕБНЫЕ', 'МОМЕНТЫ','')
      .block--content
        .gallery.js-gallerySwiper
          .gallery--item.video
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox="./assets/img/card-offer.png")
          .gallery--item
            figure
              img(src="./assets/img/gallery-1.png" alt="" data-fancybox="./assets/img/gallery-2.png")
          .gallery--item
            figure
              img(src="./assets/img/gallery-2.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/gallery-3.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/gallery-4.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox)
          .gallery--item
            figure
              img(src="./assets/img/card-offer.png" alt="" data-fancybox)
