extends ../layouts/breadcrumbs

block variables
  - var title = "Афиша"
  - var pageClass = 'page--events'
  - var activePage = 'index'


block content
  section.block.block_list.content_events
    .block--wrapper
      .block--head
        .block--head_title
          h2 АФИША <br>И НОВОСТИ
      .block--elements
        a.card(href='' )
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 Дарим подарки
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
        a.card(href='')
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 Дарим подарки
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
        a.card(href='')
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 Дарим подарки
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
        a.card(href='')
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 дни любви
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
        a.card(href='')
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 дни любви
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
        a.card(href='')
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 масленица пожаловала
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
        a.card(href='')
          .card--image
            img(src='./assets/img/card-offer.png' alt="")
          .card--content
            .card--subtitle
              p 16-20 февраля
            .card--title
              h3 масленица пожаловала
            .card--link
              .button.button-link.button-card
                span Подробнее
                span.icon.icon-arrow-card
      .button.button-outlined.button-secondary.js-btn-more
        span Больше аттракционов
