extends ../layouts/breadcrumbs

block variables
  - var title = "Вопросы и ответы"
  - var pageClass = 'page--faq'
  - var activePage = 'index'

block content
  section.block.block_list.content_faq.js-tabs
    .block--wrapper
      +block--head("", "Популярные", "вопросы и ответы")
      .block--sections
        .faq-filters
          .faq-filters-item(data-content="all")
            span Общее
          .faq-filters-item(data-content="age")
            span Ограничение по возрасту
          .faq-filters-item(data-content="visit")
            span Посещение
      .block--list.block-accordion
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Сколько стоит билет? Нужно ли оплачивать дополнительно аттракционы?
            span.icon
          .accordion--content.is_cascade
            p
              span Ознакомиться с ценами и купить билет можно &nbsp;
              a(href='/') здесь.
            p В стоимость билета «Полный День» входят все аттракционы и активности на территории парка. Дополнительно оплачиваются только: - интерактивный аттракцион «Золотоискатели»
            p - интерактивный аттракцион «Золотоискатели»
            p - квест-комнаты «Тайная Хранителя» и «Грот Великана»
            p - класс робототехники «Лига Роботов»
            p - VR-очки на аттракционах “Шахта 1771» и «Джип-Райд»
            p - активности Метрополиса
            p - мастер-классы в расписании приключений
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Парк Дримвуд работает в зимнее время?
            span.icon
          .accordion--content.is_cascade
            p Парк ДРИМВУД работает круглый год!
            p Однако при температуре ниже +5° и неблагоприятных погодных условиях аттракционы могут не работать.
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Могут ли посещать Парк люди с особыми потребностями?
            span.icon
          .accordion--content.is_cascade
            p На всех аттракционах существуют ограничения по росту, весу и состоянию здоровья. Также на территории парка находятся уборные для людей с особыми потребностями и лифты.
            p У нас действует специальный тариф для людей с особыми потребностями.  При предъявлении удостоверения 1 или 2 категории инвалидности, льготная цена: -60%!
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Есть ли у вас скидки для людей с особыми потребностями, для многодетных семей?
            span.icon
          .accordion--content.is_cascade
            p Тариф для многодетных семей «Большая Семья».
            p При предъявлении паспорта РФ и свидетельств о рождении детей, вы получаете скидку -20% от стоимости билета.
            p Тариф действует при единовременном посещении минимум одного взрослого и троих (и более) детей.
            p При предъявлении удостоверения 1 или 2 категории инвалидности, вы получаете скидку -60% от стоимости билета.
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Что обязательно нужно взять с собой в Дримвуд?
            span.icon
          .accordion--content.is_cascade
            p Для посещения водных аттракционов «КИТ» и «Визги-Брызги» вам необходимо взять с собой купальные принадлежности.  Для посещения Веревочного парка необходимо быть в удобной закрытой обуви и спортивных брюках.
            p Не забудьте защитные кремы, головные уборы, воду и отличное настроение!
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Есть ли скидки в День Рождения?
            span.icon
          .accordion--content.is_cascade
            p Для именинников у нас есть специальное праздничное предложение!
            p Обратитесь по телефону 8 (800) 550-43-26 для получения подробной информации!
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Можно ли с животными?
            span.icon
          .accordion--content.is_cascade
            p В целях безопасности, правила нашего парка не предполагают посещение с домашними животными.
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Можно ли привозить еду с собой? Есть ли, где перекусить?
            span.icon
          .accordion--content.is_cascade
            p Мы тщательно следим за безопасностью на территории парка, поэтому проносить продукты на территорию парка ДРИМВУД не разрешается. При желании, вы можете взять с собой детское питание (смеси, питание для малышей) и воду.
            p На территории Парка есть кафе и ресторан! «Пеликан» - кафе на свежем воздухе со сладкими радостями для детей и взрослых, работает только в летний период. «Форестино» - ресторан с обширным меню горячих закусок и барной картой, а также специальным детским меню.
        .accordion.js-openAccordion(data-content_item="all")
          .accordion--button
            p.accordion--button_text Чем в парке можно заняться с ребенком до 4-х лет? Есть ли комната матери и ребенка?
            span.icon
          .accordion--content.is_cascade
            p Для самых юных исследователей в нашем Парке есть весёлая "Цветочная карусель". В Куполе находится интерактивная площадка "Лес чудес" с множеством активностей, развивающими мелкую моторику, воображение и память. На территории Парка также есть "Тропа открытий" с уличными музыкальными инструментами и аттракционами, развивающими чувство баланса и равновесия.
            p Для вашего удобства, в Куполе располагается оборудованная комната матери и ребенка.
        .accordion.js-openAccordion(data-content_item="age")
          .accordion--button
            p.accordion--button_text Ограничения по возрасту и росту на аттракционах:
            span.icon
          .accordion--content.is_cascade
            p Следующие аттракционы доступны для исследователей от 100 см до 125 см в сопровождении совершеннолетнего взрослого. От 125 см без сопровождения взрослого:
              ul
                li Интерактивный аттракцион «Золотоискатели»
                li Водные пушки «Визги-брызги»
                li Летающее бревно «Кон-тики»
                li Башня падения «Плющ»
                li «Шахта 1771»
                li 4D-кинотеатр (только для гостей отеля)
            p А также:
              ul
                li «Цветочная карусель»  - до 100 см. в сопровождении совершеннолетнего взрослого. От 100 см без сопровождения взрослого.
                li «Джип-райд» - до 125 см. в сопровождении совершеннолетнего взрослого. От 125 см без сопровождения взрослого.
                li Аквазона «Кит»  - до 140 см в сопровождении совершеннолетнего взрослого. Катание на водных горках разрешено путешественникам от 100 см до 140 см. Дети до 3-х лет должны быть в непромокаемых памперсах для плавания.
                li «Мини-гольф» - дети до 140 см в сопровождении совершеннолетнего взрослого. От 140 см. без сопровождения взрослого.
                li Воздушная дорога «Дан Де Лион»- от 105 до 140 см в сопровождении совершеннолетнего взрослого. От 140 см без сопровождения взрослого. Максимальная нагрузка на кабину – 360 кг.
                li «Веревочный лагерь»
                li Маршрут «Семейный» – от 100 см до 150 см в сопровождении совершеннолетнего взрослого, от 150 см без сопровождения взрослого.
                li Маршрут «Мастер» – от 150 см без сопровождения совершеннолетнего взрослого.
                li Маршрут «Герой» – от 160 см без сопровождения совершеннолетнего взрослого.
                li Квест «Грот великана» - от 6 лет до 15 лет в сопровождении совершеннолетнего взрослого/оператора. От 15 лет без сопровождения взрослого/оператора.
                li Квест «Тайны Хранителя»  - от 8 лет до 15 лет в сопровождении совершеннолетнего взрослого/оператора. От 15 лет без сопровождения взрослого/оператора.
                li
            p
              ul
                li  Горки-слайдеры (Дерево приключений) - от 110 см.
                li Класс робототехники «ДримЛаб»  - от 6 лет.
                li VR-аппарат «Exo-Jet» (Метрополис) - от 140 см без сопровождения.
                li VR-аппарат «Exo-Plane» (Метрополис)   - от 125 см без сопровождения.
        .accordion.js-openAccordion(data-content_item="age")
          .accordion--button
            p.accordion--button_text Минимальное количество сопровождающих на аттракционах
            span.icon
          .accordion--content.is_cascade
            p Для большинства аттракционов необходимо присутствие минимум 1 сопровождающего на 4 детей.
            p Кроме:
            p
              ul
                li «Визги-брызги» - 1 совершеннолетний сопровождающий на 5 детей (в одном корабле).
                li «Дан-де-Лион» - 1 сопровождающий на 3 детей (в одном пассажирском модуле).
                li «Цветочная карусель» - 1 сопровождающий на 2 детей.
                li «Джип-райд» – 1 сопровождающий на 1 ребенка.
                li Аквазона «Кит» - 1 сопровождающий на 5 детей.
        .accordion.js-openAccordion(data-content_item="visit")
          .accordion--button
            p.accordion--button_text Помимо парка, я могу воспользоваться другими услугами Mriya Resort & Spa по билету в ДРИМВУД?
            span.icon
          .accordion--content.is_cascade
            p В стоимость билета в ДРИМВУД не входит посещение других локаций Mriya Resort & Spa.
            p Для посещения объектов отеля необходимо приобретать дневное посещение.
            p Узнать про услугу "Дневного посещение" вы можете на сайт деньмечты.рф и по телефону:  8 (800) 707 54 68
        .accordion.js-openAccordion(data-content_item="visit")
          .accordion--button
            p.accordion--button_text Обмен и возврат билетов
            span.icon
          .accordion--content.is_cascade
            p
              a(href='https://yandex.ru/support/afisha/theatre-return.html') Возврат билетов на культурное или спортивное событие (yandex.ru)
        .accordion.js-openAccordion(data-content_item="visit")
          .accordion--button
            p.accordion--button_text Как добраться? Есть ли где припарковать машину ?
            span.icon
          .accordion--content.is_cascade
            p Координаты Mriya Resort & SPA 44.397305, 33.939501
            p Если вы едете на общественном транспорте:
              ol
                li При поездке на общественном транспорте из Севастополя или Ялты (на рейсовом автобусе 55 или маршрутке 128), необходимо выйти на остановке «Зори России» , за остановкой спуститься по лестнице, которая ведёт к Mriya Resort & SPA
                li Далее, нужно пройти прямо по тротуарной дорожке до второго кольца. На кольце необходимо перейти дорогу (по правую руку вертолетная площадка) следовать указателю и идти прямо к парковочной зоне.
                li В центре парковочной зоны расположено стеклянное здание, это вход в Welcome Center.
            p Если Вы едете на своём автомобиле:
              ul
                li При поездке по дороге со стороны Ялты, не доезжая 50 метров до остановки «Зори России», нужно свернуть налево на дорогу ведущую к комплексу Mriya Resort & SPA
                li Если Вы едете со стороны Севастополя, сразу после остановки «Зори России» свернуть направо на дорогу ведущую к комплексу Mriya Resort & SPA
                li Далее двигаться прямо до второго кольца. На кольце повернуть направо, второй съезд(по правую руку вертолетная площадка), далее двигаться прямо. Повернуть налево к парковочной зоне.
                li В центре парковочной зоны расположено стеклянное здание, это вход в Welcome Center.



