extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = 'page--index'
  - var activePage = 'index'

  section.block.block_banner.block_banner-hero.block_banner-nav
    .block--wrapper
      .banner
        .block_nav-page
          .nav
            a Персонажи
            a Площадки
            a Индивидуальный сценарий
            a Готовые программы
            a Галерея

        .block--content
          img(src="/assets/img/banner-attractions.png")
        +block--head("","праздник мечты" ,"для вашего ребенка","Сделаем любой праздник незабываемым. Вас ждет: сказочная атмосфера парка, яркие персонажи и интересная программа!")
        .block--actions
          a(href="/").button.button-filled.button-accent
            span Оставить заявку

  section.block.block_image_text.block_image_text-reversed.block_image_text-list.mask-heart
    .block--wrapper
      .block--image
        <svg class="svg">
        <clipPath id="mask-heart" clipPathUnits="objectBoundingBox"><path d="M0.788,0.117 C0.756,0.116,0.756,0.122,0.724,0.122 C0.692,0.122,0.69,0.108,0.659,0.115 C0.627,0.122,0.63,0.133,0.601,0.146 C0.571,0.16,0.574,0.176,0.542,0.168 C0.511,0.16,0.523,0.144,0.503,0.117 C0.482,0.09,0.486,0.086,0.46,0.065 C0.435,0.044,0.43,0.051,0.401,0.037 C0.371,0.022,0.374,0.014,0.342,0.007 C0.306,0,0.306,0.012,0.269,0.014 C0.233,0.015,0.232,0.007,0.197,0.018 C0.163,0.029,0.168,0.037,0.137,0.057 C0.106,0.077,0.095,0.063,0.071,0.091 C0.047,0.118,0.059,0.127,0.043,0.161 C0.026,0.194,0.017,0.19,0.008,0.227 C0,0.263,0.01,0.265,0.009,0.304 C0.009,0.342,0.006,0.342,0.013,0.38 C0.019,0.418,0.017,0.419,0.03,0.455 C0.042,0.492,0.045,0.491,0.061,0.526 C0.076,0.562,0.075,0.562,0.093,0.597 C0.111,0.631,0.108,0.633,0.128,0.666 C0.148,0.7,0.155,0.695,0.177,0.727 C0.198,0.759,0.196,0.76,0.217,0.793 C0.239,0.825,0.236,0.827,0.257,0.86 C0.278,0.892,0.282,0.889,0.304,0.921 C0.318,0.942,0.314,0.945,0.328,0.966 C0.342,0.987,0.335,0.997,0.359,1 C0.383,1,0.382,0.999,0.404,0.987 C0.426,0.975,0.422,0.967,0.443,0.955 C0.476,0.936,0.479,0.942,0.512,0.923 C0.544,0.903,0.543,0.9,0.575,0.881 C0.607,0.861,0.607,0.86,0.639,0.84 C0.671,0.82,0.675,0.825,0.706,0.805 C0.738,0.784,0.734,0.778,0.766,0.756 C0.797,0.734,0.798,0.737,0.827,0.712 C0.856,0.687,0.858,0.689,0.884,0.661 C0.91,0.634,0.912,0.635,0.933,0.603 C0.955,0.572,0.951,0.569,0.967,0.535 C0.984,0.5,0.995,0.504,1,0.466 C1,0.43,0.994,0.428,0.993,0.391 C0.992,0.353,1,0.351,0.997,0.315 C0.987,0.278,0.976,0.282,0.958,0.25 C0.939,0.217,0.949,0.208,0.922,0.183 C0.895,0.157,0.888,0.166,0.855,0.149 C0.822,0.133,0.834,0.138,0.801,0.12 C0.797,0.117,0.789,0.117,0.788,0.117 L0.788,0.117"></path></clipPath>
        </svg>
        img(src="/assets/img/holidays-img.png" alt="")
      +block--head('','Организуем праздники','под любое событие','')
      .block--content
        ul.block--list
          li Дни рождения для детей от 0 до 13 лет
          li Семейные праздники
          li Выпускные детских садов до 100 человек
          li Школьные выпускные до 50 человек


  .block--actions

  section.block.block_list.block_list-slider.content_personage
    .block--wrapper
      +block--head('','более 20 персонажей','на выбор','')
      .block--elements
        +card--personage('','Название персонажа', '/assets/img/card-offer.png')
        +card--personage('','Название персонажа', '/assets/img/card-offer.png')
        +card--personage('','Название персонажа', '/assets/img/card-offer.png')
        +card--personage('','Название персонажа', '/assets/img/card-offer.png')
        +card--personage('','Название персонажа', '/assets/img/card-offer.png')

  section.block.block_list.content_shows
    .block--wrapper
      +block--head('','готовые программы','и шоу','')
      include ../components/content/content_shows/content_shows
      .block--elements
        a.card(href='/')
          .card--image
            img(src='/assets/img/card-offer.png')
          .card--content
            .card--title
              h3 космическое путешествие
              div.icons
                span.icons--age 0+
            .card--link
              .button.button-link.button-card
                span Подробнее
                span
        a.card(href='/')
          .card--image
            img(src='/assets/img/card-offer.png')
          .card--content
            .card--title
              h3 dinoLAnd
              div.icons
                span.icons--age 0+
            .card--link
              .button.button-link.button-card
                span Подробнее
                span
        a.card(href='/')
          .card--image
            img(src='/assets/img/card-offer.png')
          .card--content
            .card--title
              h3 Бал принцесс
              div.icons
                span.icons--age 0+
            .card--link
              .button.button-link.button-card
                span Подробнее
                span
        a.card(href='/')
          .card--image
            img(src='/assets/img/card-offer.png')
          .card--content
            .card--title
              h3 День волшебства
              div.icons
                span.icons--age 0+
            .card--link
              .button.button-link.button-card
                span Подробнее
                span


  section.block.block_list.block_list-slider.content_area
    .block--wrapper
      +block--head('','Сказочные площадки','для вашего праздника','')
      .block--elements
        +card--area('','купол дримвуд','Аттракцион свободного падения Плющ поднимет вас на 11 метров ввысь и закружит в воздухе. С высоты можно рассмотреть весь Парк и покорить стихию ветра!', '/assets/img/card-offer.png')
        +card--area('','Метрополис','Проехав по железной дороге, загляните внутрь гор и получите массу эмоций от виражей и изгибов. Добавив шлемы виртуальной реальности вы окунетесь в историю 4-х стихий!', '/assets/img/card-offer.png')
        +card--area('','Корабль','Возможность прокатиться на джипах по таинственной пещере, а с помощью очков виртуальной реальности, оказаться в условиях дикого сафари!', '/assets/img/card-offer.png')
        +card--area('','Название персонажа','Аттракцион свободного падения Плющ поднимет вас на 11 метров ввысь и закружит в воздухе. С высоты можно рассмотреть весь Парк и покорить стихию ветра!', '/assets/img/card-offer.png')
        +card--area('','Название персонажа','Аттракцион свободного падения Плющ поднимет вас на 11 метров ввысь и закружит в воздухе. С высоты можно рассмотреть весь Парк и покорить стихию ветра!', '/assets/img/card-offer.png')


  section.block.block_image_text.block_image_text-list
    .block--wrapper
      .block--image
        img(src="/assets/img/card-offer.png" alt="")
      +block--head('','праздники','под ключ','')
      .block--content
        p Возьмем на себя все организационные моменты:
        ul.block--list
          li Разработка сценария
          li Ведущий и анимация
          li Живая музыка и DJ
          li Кейтеринг, кенди бар
          li Тачка на покраску
          li Фейерверки
          li Флористика, фотозоны
          li Разработка декора
          li Фотограф и видеограф
          li Бьюти Бар

  section.block.block_html_code.content_feedback
    .block--wrapper
      .block--image
        img(src="/assets/img/svg/feedback-bck.svg" alt="")
      .block--content
        +block--head('','хотите организовать праздник','или остались вопросы?','Оставьте свои контактные данные и мы свяжемся с вами в ближайшее время!')
        .block--actions
          a(href='/').button.button-filled.button-secondary
            span  Заказать звонок
          a(href='/').button.button-filled.button-secondary.button-reversed
            span  Оставить заявку



  section.block.block_list.content_program
    .block--wrapper
      +block--head('','расписание','активностей дня','')
      include ../components/content/content_program/content_program
