extends ../layouts/breadcrumbs

block variables
  - var title = "Детальная"
  - var pageClass = 'detailed'
  - var activePage = 'index'

block content
  section.block
    .block--wrapper
      .block--content.is_cascade
        h2 ПРОГРАММА «ЗАБОТА+»
        p ПРОГРАММА «ЗАБОТА+» или почему отдыхать на территории Mriya Resort&SPA безопасно

        p В начале 2020 года в целях обеспечения безопасности Гостей и сотрудников комплекса Mriya Resort & SPA была настроена и запущена программа «Забота+». Программа включает в себя различные мероприятия, направленные на предупреждение новой коронавирусной инфекции (COVID-19)


        h4 Тематический парк «Дримвуд»

        p Гости Тематического парка «Дримвуд» допускаются на территорию парка при наличии: - Сертификата о прохождении вакцинации или QR-кода, полученного с использованием специализированного приложения Единого портала государственных и муниципальных услуг либо Сертификата о перенесенном заболевании COVID-19 или QR-кода, полученного с использованием специализированного приложения Единого портала государственных и муниципальных услуг (срок действия 6 месяцев после выздоровления); - Справки ПЦР (срок действия не более 48 часов); - С отрицательным результатом тестирования на антиген к COVID-19. Тестирование проводится в отеле без дополнительной оплаты путем взятия мазка из носа. Результат готов через 30 минут. Тематический парк «Дримвуд» доступен к посещению для гостей отеля. Все сотрудники в обязательном порядке используют средства индивидуальной защиты. После каждого проката на аттракционах дезинфицируются все поверхности. Перед аттракционами установлены напольные санитайзеры, организована разметка и зонирование для соблюдения социальной дистанции. Каждый час и после каждого гостя проводится санитарная обработка всех поверхностей.


        h4 В случае, если Гости имеют противопоказания к вакцинации, при себе необходимо иметь:

        p Медицинский документ, подтверждающий наличие медицинских противопоказаний, заверенный лечащим врачом и руководителем (заместителем руководителя) медицинской организации; Отрицательный результат ПЦР-теста на наличие возбудителя коронавирусной инфекции COVID-19, полученный не позднее чем за 48 часов; Результаты тестирования на антиген к COVID-19. Тестирование проводится в отеле без дополнительной оплаты путем взятия мазка из носа. Результат готов через 30 минут.


        h4 Пункт вакцинации

        p На территории курорта действует пункт вакцинации для Гостей и сотрудников Mriya Resort & SPA. Бесплатная вакцинация осуществляется специалистами ФГБУ Федерального научно-клинического центра ФМБА в Крыму. Пункт вакцинации доступен для Гостей каждый вторник и четверг по предварительной записи у администратора медицинского центра по внутреннему номеру 7071. При себе необходимо иметь паспорт,


        h4 Посещение тематического парка «Дримвуд» и Японского сада не осуществляется

        p В случае выявления положительного результата теста на антиген, гостю отказывается в посещении. О факте выявления положительного теста Общество уведомляет контролирующие органы (Роспотребнадзор); Вход/въезд на территорию СКК «Мрия» разрешается только через КПП и после измерения температуры. В случае отказа гостя от измерения температуры тела или выявлении повышенной температуры тела (37.0 и выше) в пропуске на территорию отказывается.


        h4 Средства индивидуальной защиты

        p На территории Комплекса установлен масочный режим. Обеспечивается доступность масок для гостей во всех локациях парка и сада. Гости обслуживаются только при условии ношения маски. Все сотрудники в обязательном порядке используют средства индивидуальной защиты.


        h4 Дезинфекция и санитарная обработка

        p Для проведения дезинфекции применяются только дезинфицирующие средства, зарегистрированные в установленном порядке, в инструкциях по применению которых указаны режимы обеззараживания объектов при вирусных инфекциях. В зависимости от объекта - для дезинфекции используются средства, разрешенные к применению (на предприятиях общественного питания, в оздоровительных организациях, в детских организациях и др.). Во всех местах общего пользования устанавливаются дозаторы с кожными антисептиками (по возможности - бесконтактные), обеспечивается условия для соблюдения гигиены рук. Обеспечивается регулярная влажная уборка производственных, служебных помещений и мест общественного пользования с применением дезинфицирующих средств, дезинфекция всех контактных поверхностей не реже чем 1 раз в 2 часа (дверных ручек, выключателей, поручней, перил, поверхностей столов, спинок стульев, оргтехники). Обеспечивается проветривание помещений каждые 2 часа. На территории парка и сада на открытых пространствах обеззараживанию подлежат: беседки, детские игровые площадки, скамейки, площадки у входа, наружные двери, поручни, урны, терминалы (банковские, парковочные - при наличии), бюветы. Обработка проводится 1 раз в сутки (в утренние либо вечерние часы). Производится обработка контактных поверхностей - поручней, дверных ручек медицинского и спасательного пунктов - методом протирания, не реже 1 раза в 2 часа. Для дезинфекции применяется наиболее надежные дезинфицирующие средства из группы хлор активных соединений (хлорная известь 1% осветленный раствор, гипохлорит кальция (натрия) в концентрации 0,05% по активному хлору), натриевая соль дихлоризоциануровой кислоты - 0,06% по активному хлору). Дезинфекция объектов осуществляется методом орошения с применением специального оборудования (автомакс, гидропульт и др.) при норме расхода средства от 600 мл/м без применения генераторов аэрозолей.


        h4 Сотрудники

        p Все сотрудники используют средства индивидуальной защиты. В служебных помещениях проводятся регулярный мониторинг температуры тела и медосмотры. Все сотрудники прошли специальную подготовку и обязательный инструктаж по работе в условиях пандемии коронавирусной инфекции. Регулярно на базе курорта происходит тестирование сотрудников на антиген коронавируса.


        h4 Работа магазинов

        p Все магазины и аутлеты открыты к посещению. Всем сотрудники используют средства индивидуальной защиты. Обеспечивается соблюдение принципов социального дистанцирования в помещениях магазинов. При входе в магазин необходимо надеть одноразовые перчатки и маску. На входе в магазины гостям выдаются одноразовые перчатки и маски. В случае отказа гостя (посетителя) от соблюдения мер профилактики, обслуживание гостей/посетителей запрещается. Перед каждым использованием посетителем терминал оплаты производится обработка.


        h4 Мероприятия по обеспечению безопасности гостей при организации питания.

        p Организована работа ресторанов с возможностью расстановки мест для приема пищи на открытом воздухе на безопасном расстоянии друг от друга: дистанция между столиками составляет не менее 1,5 метров. При приготовлении блюд поварам строго соблюдают все санитарные требования, нормы и правила. Производится контроль соблюдения гостями социальной дистанции 1,5 друг от друга.


        h4 Заключительные положения

        p Данный перечень мероприятий не является исчерпывающим и может быть дополнен внутренними распоряжениями, направленными на безопасное оказание услуг. В зависимости от введения новых рекомендаций со стороны Федеральной службы по защите прав потребителей и благополучия человека, а также иных уполномоченных органов исполнительной власти, мероприятия могут быть ужесточены или ослаблены.
