.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox='/assets/img/card-offer.png')
    figcaption
.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)

.gallery--item
  figure
    img(src="/assets/img/card-offer.png" alt="" data-fancybox)



