.block--elements
  .card(href='/' data-height='1' data-age='1' data-price='all free' )
    .card--image
      img.card--image_slide(src='/assets/img/card-offer.png')
      img.card--image_slide(src='/assets/img/card-offer.png')
      img.card--image_slide(src='/assets/img/card-offer.png')
    .card--label.maintenance
      p На техническом обслуживание
    .card--content
      .card--title
        h3 Плющ
        div.icons
          span.icons--age 0+
          span.icons--height 100см+
      .card--text
        p Аттракцион свободного падения Плющ поднимет вас на 11 метров ввысь и закружит в воздухе. С высоты можно рассмотреть весь Парк и покорить стихию ветра!
      .card--link
        a(href='/').button.button-link.button-card
          span Подробнее
          span.icon.icon-arrow-card
  .card(href='/' data-height='2' data-age='2' data-price='all free' )
    .card--image
      img.card--image_slide(src='/assets/img/card-offer.png')
      img.card--image_slide(src='/assets/img/card-offer.png')
      img.card--image_slide(src='/assets/img/card-offer.png')
    .card--label.actions
      p Акция
    .card--content
      .card--title
        h3 шахта 1771
        div.icons
          span.icons--age 0+
          span.icons--height 100см+
      .card--text
        p Проехав по железной дороге, загляните внутрь гор и получите массу эмоций от виражей и изгибов. Добавив шлемы виртуальной реальности вы окунетесь в историю 4-х стихий!
      .card--link
        a(href='/').button.button-link.button-card
          span Подробнее
          span.icon.icon-arrow-card
  .card(href='/' data-height='3' data-age='3' data-price='all free' )
    .card--image
      img.card--image_slide(src='/assets/img/card-offer.png')
      img.card--image_slide(src='/assets/img/card-offer.png')
      img.card--image_slide(src='/assets/img/card-offer.png')
    .card--label.close
      p Закрыто
    .card--content
      .card--title
        h3 джип-райд
        div.icons
          span.icons--age 0+
          span.icons--height 100см+
      .card--text
        p Возможность прокатиться на джипах по таинственной пещере, а с помощью очков виртуальной реальности, оказаться в условиях дикого сафари!
      .card--link
        a(href='/').button.button-link.button-card
          span Подробнее
          span.icon.icon-arrow-card
  .card(href='/' data-height='4' data-age='4' data-price='all paid' )
    .card--image
      img(src='/assets/img/card-offer.png')
    .card--label.maintenance
      p На техническом обслуживание
    .card--content
      .card--title
        h3 Плющ
        div.icons
          span.icons--age 0+
          span.icons--height 100см+
      .card--text
        p Аттракцион свободного падения Плющ поднимет вас на 11 метров ввысь и закружит в воздухе. С высоты можно рассмотреть весь Парк и покорить стихию ветра!
      .card--link
        a(href='/').button.button-link.button-card
          span Подробнее
          span.icon.icon-arrow-card
  .card(href='/' data-height='5' data-age='4' data-price='all paid' )
    .card--image
      img(src='/assets/img/card-offer.png')
    .card--label.actions
      p Акция
    .card--content
      .card--title
        h3 шахта 1771
        div.icons
          span.icons--age 0+
          span.icons--height 100см+
      .card--text
        p Проехав по железной дороге, загляните внутрь гор и получите массу эмоций от виражей и изгибов. Добавив шлемы виртуальной реальности вы окунетесь в историю 4-х стихий!
      .card--link
        a(href='/').button.button-link.button-card
          span Подробнее
          span.icon.icon-arrow-card
  .card(href='/' data-height='6' data-age='5' data-price='all paid' )
    .card--image
      img(src='/assets/img/card-offer.png')
    .card--label.close
      p Закрыто
    .card--content
      .card--title
        h3 джип-райд
        div.icons
          span.icons--age 0+
          span.icons--height 100см+
      .card--text
        p Возможность прокатиться на джипах по таинственной пещере, а с помощью очков виртуальной реальности, оказаться в условиях дикого сафари!
      .card--link
        a(href='/').button.button-link.button-card
          span Подробнее
          span.icon.icon-arrow-card
.not-found
  h3 По заданным фильтрам ничего не найдено :(
a(href='attractions.html').button.button-outlined.button-secondary
  span Больше аттракционов
