include ../content/content_road/content_road

footer.footer
  .block--wrapper
    .footer-soc
      .footer-soc--item
        a.footer-soc--item-icon.footer-soc--item-tripadvisor
          include ../../img/svg/soc/tripadvisor-bg.svg
          span
        a.footer-soc--item-icon.footer-soc--item-vk
          include ../../img/svg/soc/vk-bg.svg
          span
        a.footer-soc--item-icon.footer-soc--item-yandex
          include ../../img/svg/soc/yandex-bg.svg
          span
      .footer-soc--text
        include ../../img/svg/footer-soc-group.svg
    .footer_logo
      include ../../img/svg/footer-logo.svg
    .footer_nav
      .footer_nav--item
        .footer_nav--item_list
          a.button.button-link.button-secondary(href="") Метрополис
          a.button.button-link.button-secondary(href="") Афиша и новости
          a.button.button-link.button-secondary(href="") Точки питания
          a.button.button-link.button-secondary(href="") Вопросы и ответы
          a.button.button-link.button-secondary(href="") Организация праздников
      a.button.button-outlined.button-secondary(href="/booking")
        span Купить билет
      .footer_nav--item
        .footer_nav--item_list
          a.button.button-link.button-secondary(href="") Правила посещения
          a.button.button-link.button-secondary(href="") Политика конфиденциальности
          a.button.button-link.button-secondary(href="") Пользовательское соглашение
          a.button.button-link.button-secondary(href="") Аттракционы
          a.button.button-link.button-secondary(href="") Расписание активностей
          a.button.button-link.button-secondary(href="") Забота
          a.button.button-link.button-secondary(href="https://clck.ru/34vMKn ")
            span.icon-vk
            span Вконтакте
      a(href='/').phone-circle
        span.icon-phone-circle
        span 8 800 550 06 79

    .footer--bottom
      a.button.button-link.button-secondary(href="/") Согласие на обработку персональных данных
      a.button.button-link.button-secondary(href="/") Политика в отношении файлов cookie
      .developer
        span Разработка
        a.button.button-link.button-primary(href="https://webster.studio/" target="_blank") WEBSTER STUDIO


      //<div class="language_selector">
      //<a class="language_selector--button is_active">Ru</a>
      //<a class="language_selector--button">En</a>
      //</div>
