#map
  width: 100%
  height: auto
  aspect-ratio: 500 / 327

  .ymaps3x0--map-container
    border-radius: var(--border-corner)
  //.my-marker
  //  background-image: url("../img/svg/arrow-pink.svg")
  //  background-repeat: no-repeat
  //  background-position: center
  //  width: 20px
  //  height: 20px
  .ymaps-2-1-79-svg-icon-content
    position: relative
    left: 25px !important
    z-index: -1
    top: 3px !important
    width: max-content !important
    border-radius: 25px
    padding: 5px
    background-color: rgba(255, 255, 255, 0.8)
  .ymaps-2-1-79-inner-panes
    border-radius: 20px

