extends ../../layouts/main

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  .block
    .block--wrapper
      <!-- Вариации заголовков -->
      <!-- начало компонента -->
      .block--head
        .block--head_subtitle
          p детский лагерь в анапе
        .block--head_title
          h1 Компоненты блока &mdash;
            span заголовки блока
        .block--head_caption
          p Текст описание блока Но ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры.
      <!-- конец компонента -->
      <!-- начало компонента -->
      .block--head
        .block--head_subtitle
          p детский лагерь в анапе
        .block--head_title
          h2 Заголовок
            span блока
        .block--head_caption
          p Текст описание блока Но ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры.
      <!-- конец компонента -->
      <!-- начало компонента -->
      .block--head
        .block--head_subtitle
          p детский лагерь в анапе
        .block--head_title
          a(href="/" target="_blank")
            h2 Заголовок
              span блока
        .block--head_caption
          p Текст описание блока Но ключевые особенности структуры проекта, которые представляют собой яркий пример континентально-европейского типа политической культуры.

      <!-- Вариации заголовков + кнопки -->
      <!-- конец компонента -->
      <!-- начало компонента -->
      .block--head
        .block--head_title
          h2 Заголовок блока
      <!-- конец компонента -->
      <!-- начало компонента -->
      .block--actions
        a(href="/").button.button-filled.button-accent
          span Кнопка 1
        button.button.button-outlined.button-secondary
          span Кнопка 2
      <!-- конец компонента -->

