section.block.block_list.block_list-slider.content_offers
  .block--wrapper
    +block--head_title_link("","Акции","")
    .block--elements
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //+card--offer('Весна в любимом отеле по выгодной цене', 'Заходи в модуль бронирования, вводи промокод «БудьПервым» - и забирай скидку 15% на отдых', '/assets/img/1.jpg')
      //
